## Import Packages

In [1]:
import pandas as pd
import re

## Specify the longitude range

In [2]:
longitude=["66.5", "67.5", "68.5", "69.5", "70.5",
         "71.5", "72.5", "73.5", "74.5", "75.5",
         "76.5", "77.5", "78.5", "79.5", "80.5",
         "81.5", "82.5", "83.5", "84.5", "85.5",
         "86.5", "87.5", "88.5", "89.5", "90.5",
         "91.5", "92.5", "93.5", "94.5", "95.5",
         "96.5", "97.5", "98.5", "99.5", "100.5"]

## Read data from files and store in data list

In [3]:
data=[]
for year in range(1951,2016):
    file=open("data/rf_"+str(year)+".TXT",'r')
    lines=file.readlines()
    data.append(lines)
    file.close()

## Extract Useful Rainfall data

In [4]:
row=[]
for file in data:
    for line in file:
        list1=line.split()
        if re.search(r'^19|^20', line):
            date=list1[0]+"-"+list1[1]+"-"+list1[2]
            continue
        elif re.search(r'^66\.5E|^38\.5N|^37\.5N|^7\.5N|^6\.5N|^\n$', line):
            continue
        else:
            lat=list1[0]
            count=0
            for num in list1[1:]:
                if num=='-99.9':
                    count+=1
                else:
                    row.append([date,lat,longitude[count],num])
                    count+=1

In [6]:
import pandas as pd

## Put data into a dataframe

In [5]:
df=pd.DataFrame(row)
df.columns=['Date','Latitude','Longitude','rainfall']
len(df)

8475537

In [6]:
df.head()

         Date Latitude Longitude rainfall
0  1951-01-01     36.5      72.5      0.0
1  1951-01-01     36.5      73.5      0.0
2  1951-01-01     36.5      74.5      0.0
3  1951-01-01     36.5      75.5      0.0
4  1951-01-01     36.5      78.5      0.0

In [7]:
df.to_csv("India_Rainfall_Data.csv",index=False)

In [8]:
#select only one year - 1981
year = df["Date"].str[:4]
df["Year"] = year
rainfall_1981 = df[(df["Year"] == "1981")]

In [9]:
rainfall_1981.head()

               Date Latitude Longitude rainfall  Year
3912006  1981-01-01     36.5      72.5      0.0  1981
3912007  1981-01-01     36.5      73.5      0.0  1981
3912008  1981-01-01     36.5      74.5      0.0  1981
3912009  1981-01-01     36.5      75.5      0.0  1981
3912010  1981-01-01     36.5      78.5      0.0  1981

In [39]:
rainfall_1981.to_csv("rainfall_1981.csv", index=False)

In [120]:
#select year 1951-1960 (10 years)
rainfall_1951_to_1960 = df[(df["Year"].isin(["1951", "1952", "1953", "1954", "1955", "1956", "1957","1958", "1959", "1960"]))]

In [121]:
rainfall_1951_to_1960.head()

         Date Latitude Longitude rainfall  Year
0  1951-01-01     36.5      72.5      0.0  1951
1  1951-01-01     36.5      73.5      0.0  1951
2  1951-01-01     36.5      74.5      0.0  1951
3  1951-01-01     36.5      75.5      0.0  1951
4  1951-01-01     36.5      78.5      0.0  1951

In [128]:
#group 1951 - 1960 rainfall data by date, latitude, longitude and get mean(rainfall)
rainfall_1951_to_1960["rainfall"] = rainfall_1951_to_1960["rainfall"].astype(float)
grouped_1951_to_1960 = rainfall_1951_to_1960.groupby(['Latitude','Longitude'])["rainfall"].mean()
grouped_1951_to_1960 = grouped_1951_to_1960.reset_index()

<ipython-input-128-b8b3d84957b0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall_1951_to_1960["rainfall"] = rainfall_1951_to_1960["rainfall"].astype(float)

In [131]:
grouped_1951_to_1960.to_csv("grouped_1951_to_1960.csv",index=False)

In [134]:
#group 1961 - 1970 rainfall data by date, latitude, longitude and get mean(rainfall)
rainfall_1961_to_1970 = df[(df["Year"].isin(["1961", "1962", "1963", "1964", "1965", "1966", "1967","1968", "1969", "1970"]))]
rainfall_1961_to_1970["rainfall"] = rainfall_1961_to_1970["rainfall"].astype(float)
grouped_1961_to_1970 = rainfall_1961_to_1970.groupby(['Latitude','Longitude'])["rainfall"].mean()
grouped_1961_to_1970 = grouped_1961_to_1970.reset_index()
grouped_1961_to_1970.to_csv("grouped_1961_to_1970.csv",index=False)

<ipython-input-134-06b8cb2a0ab1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall_1961_to_1970["rainfall"] = rainfall_1961_to_1970["rainfall"].astype(float)

In [135]:
#group 1971 - 1980 rainfall data by date, latitude, longitude and get mean(rainfall)
rainfall_1971_to_1980 = df[(df["Year"].isin(["1971", "1972", "1973", "1974", "1975", "1976", "1977","1978", "1979", "1980"]))]
rainfall_1971_to_1980["rainfall"] = rainfall_1971_to_1980["rainfall"].astype(float)
grouped_1971_to_1980 = rainfall_1971_to_1980.groupby(['Latitude','Longitude'])["rainfall"].mean()
grouped_1971_to_1980 = grouped_1971_to_1980.reset_index()
grouped_1971_to_1980.to_csv("grouped_1971_to_1980.csv",index=False)

<ipython-input-135-78da6e9ba816>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall_1971_to_1980["rainfall"] = rainfall_1971_to_1980["rainfall"].astype(float)

In [ ]:
#group 1971 - 1980 rainfall data by date, latitude, longitude and get mean(rainfall)
rainfall_1971_to_1980 = df[(df["Year"].isin(["1971", "1972", "1973", "1974", "1975", "1976", "1977","1978", "1979", "1980"]))]
rainfall_1971_to_1980["rainfall"] = rainfall_1971_to_1980["rainfall"].astype(float)
grouped_1971_to_1980 = rainfall_1971_to_1980.groupby(['Latitude','Longitude'])["rainfall"].mean()
grouped_1971_to_1980 = grouped_1971_to_1980.reset_index()
grouped_1971_to_1980.to_csv("grouped_1971_to_1980.csv",index=False)

In [136]:
#group 1981 - 1990 rainfall data by date, latitude, longitude and get mean(rainfall)
rainfall_1981_to_1990 = df[(df["Year"].isin(["1981", "1982", "1983", "1984", "1985", "1986", "1987","1988", "1989", "1990"]))]
rainfall_1981_to_1990["rainfall"] = rainfall_1981_to_1990["rainfall"].astype(float)
grouped_1981_to_1990 = rainfall_1981_to_1990.groupby(['Latitude','Longitude'])["rainfall"].mean()
grouped_1981_to_1990 = grouped_1981_to_1990.reset_index()
grouped_1981_to_1990.to_csv("grouped_1981_to_1990.csv",index=False)

<ipython-input-136-7e1b6404558d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall_1981_to_1990["rainfall"] = rainfall_1981_to_1990["rainfall"].astype(float)