## Import Packages

In [141]:
import pandas
import re

## Specify the longitude range

In [142]:
longitude=["66.5", "67.5", "68.5", "69.5", "70.5",
         "71.5", "72.5", "73.5", "74.5", "75.5",
         "76.5", "77.5", "78.5", "79.5", "80.5",
         "81.5", "82.5", "83.5", "84.5", "85.5",
         "86.5", "87.5", "88.5", "89.5", "90.5",
         "91.5", "92.5", "93.5", "94.5", "95.5",
         "96.5", "97.5", "98.5", "99.5", "100.5"]

## Read data from files and store in data list

In [143]:
data=[]
for year in range(1951,2016):
    file=open("rf_"+str(year)+".TXT",'r')
    lines=file.readlines()
    data.append(lines)
    file.close()

## Extract Useful Rainfall data

In [144]:
row=[]
for file in data:
    for line in file:
        list1=line.split()
        if re.search(r'^19|^20', line):
            date=list1[0]+"-"+list1[1]+"-"+list1[2]
            continue
        elif re.search(r'^66\.5E|^38\.5N|^37\.5N|^7\.5N|^6\.5N|^\n$', line):
            continue
        else:
            lat=list1[0]
            count=0
            for num in list1[1:]:
                if num=='-99.9':
                    count+=1
                else:
                    row.append([date,lat,longitude[count],num])
                    count+=1

In [145]:
import pandas as pd

## Put data into a dataframe

In [146]:
df=pd.DataFrame(row)
df.columns=['Date','Latitude','Longitude','rainfall']
len(df)

8475537

In [147]:
df.head()

         Date Latitude Longitude rainfall
0  1951-01-01     36.5      72.5      0.0
1  1951-01-01     36.5      73.5      0.0
2  1951-01-01     36.5      74.5      0.0
3  1951-01-01     36.5      75.5      0.0
4  1951-01-01     36.5      78.5      0.0

In [149]:
df.to_csv("India_Rainfall_Data.csv",index=False)